spring:
  config.activate.on-profile: dev,prod

management:
  endpoints.web.exposure.include: health,info,metrics,prometheus
  prometheus.metrics.export.enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    mongo:
      command.enabled: true
      connectionpool.enabled: true
