name: Backend Prod Server CD

on:
  push:
    branches: [ backend ]
    paths:
      - 'backend/**'
      - '.github/workflows/backend-prod-cd.yml'
  workflow_dispatch:

jobs:
  build:
    name: 프로젝트 빌드
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: 레포지토리 불러오기
        uses: actions/checkout@v4

      - name: JDK 21 설정
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'

      - name: 프로젝트 gradlew 빌드
        run: ./gradlew build

      - name: 테스트 결과 보고서 작성
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: 테스트 결과
          path: backend/build/test-results/test/*.xml
          reporter: java-junit

      - name: Docker 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker 이미지 빌드 및 푸시
        run: |
          docker buildx build \
            --platform=linux/arm64 \
            -t ${{ secrets.DOCKER_USERNAME }}/coursepick-backend:prod \
            --push \
            .

  deploy:
    name: Prod 서버 배포
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: SSH로 배포 스크립트 실행
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.PROD_SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/coursepick
            ./deploy.sh
