name: Discord Alert

# PR 생성, 리뷰 요청, 리뷰 달렸을 때 발동
on:
  pull_request:
    types: [ review_requested ]
  pull_request_review:
    types: [ submitted ]

jobs:
  notify:
    name: 알림보내기
    runs-on: ubuntu-latest
    steps:
      - name: 알림보내기
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: |
            [{{ EVENT_PAYLOAD.sender.login }}] 님이 
            [{{ EVENT_PAYLOAD.pull_request.title }}] 에서 
            [${{ github.event_name }}] 했습니다.
            {{ EVENT_PAYLOAD.pull_request.html_url }}
